/* Define  body attribute */
.wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: lightgreen;
	text-align: center;
}
/* Define  div top attribute */
.top {
	margin: 0 auto;
	width: 100%;
	padding-top: 10px;
	background: lightgreen;
	text-align: center;
}
/* Define  table attribute */
#table {
	width: 25%;
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
}

.name {
	border-right: 2px solid;
}
/* Define  div graph attribute */
#graph {
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	table-collapse: collapse;
}
/* Define  button attribute */
.button {
	margin-top: 20px;
	margin-left: 90px;
	background-color: red;
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
/* Define  div inputfortable attribute */
.inputfortable {
	background: #AED1ED;
	height: 60px;
	color: #F0F0F0;
	text-align: center;
	padding-top: 40px;
	font-size: 24px;
	font-weight: bold;
}