b{
	
	font-size:18px;
}

#wrapper {
    margin:0 auto;
	width:800px;
	height:700px;
	
	border-top: 16px solid gray; 
	border-left:8px solid gray;
	border-right:8px solid gray;
	border-bottom:8px solid gray;
 }
 
 #header  {
	 
	background-color:lightgray; 
	margin:3px auto;
	height:80px;
	width:790px;
	 border-color:blue;
	 border-style:solid;
	 border-width:1px;
	 clear: both;
 }
 
 #header  p{
	 color:blue;
	 font-family:bookman;
	 font-size:40px;
	  margin:20px 10px;
 }
 
.left{
	
float:left;
width:200px;
height:400px;
border-color:black;
border-width:10px;
margin-top:30px;
 
 }
 .image{
width:200px;
height:200px;
border: 8px groove; 
margin-left:20px;
margin-top:10px;	 
 }
 
 .detail{
	 
	float:left;
	width:400px;

margin-top:30px;
margin-left:70px;
 border-left: 2px groove; 
 border-bottom: 2px groove; 
 }
 