<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<display-name>validation</display-name>
	<servlet>
		<display-name>doValidation</display-name>
		<servlet-name>DoValidation</servlet-name>
		<servlet-class>com.servlets.DoValidation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoValidation</servlet-name>
		<url-pattern>/DoValidation</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ShowResult</display-name>
		<servlet-name>DoValidShowResultation</servlet-name>
		<servlet-class>com.servlets.ShowResult</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowResult</servlet-name>
		<url-pattern>/ShowResult</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Validate</display-name>
		<servlet-name>Validate</servlet-name>
		<servlet-class>com.servlets.Validate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Validate</servlet-name>
		<url-pattern>/Validate</url-pattern>
	</servlet-mapping>
</web-app>
